<!doctype html>
<title>Hi there! this is {{ GROUP }} </title>
<body style="background: {{ color }};"></body>
<div style="color: #e4e4e4;
    text-align:  center;
    height: 90px;
    vertical-align:  middle;">

  {% if db_connect_result %} 
    <img src="https://group5-s3-bucket.s3.amazonaws.com/sucess2.jpg">
    <h3> Successfully connected to the MySQL database.</h3>
    <h4> Image URL is {{IMAGE_URL_S3}} </h4>
  {% else %}
    <img src="https://group5-s3-bucket.s3.amazonaws.com/failed.png">
    <h3> Failed connecting to the MySQL database. </h3>
    <h4> Image URL is {{IMAGE_URL_S3}} </h4>
  {% endif %}

  {% if debug %}
    <h2> {{ debug }} </h2>
  {% endif %}

  {% if name %}
    <p> From {{ name }}!</p>
  {% endif %}

  {% if contents %}
  <textarea rows="10" cols="50">
    {{ contents }}
  </textarea>
  {% endif %}

</div>
